.tag-container {
    position: fixed;
    top: 55px;
    left: 72px;
    right: 0;
    display: flex;
    align-items: center;
    max-width: 100%;
    background-color: #fff;
    padding: 14px 25px;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(20px);
    z-index: 100;
}

.tag-bar {
    display: flex;
    gap: 12px;
    /* padding-left: 30px; */
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth; 
    scrollbar-width: none;
}


.tag {
    background-color: #e5e5e5;
    color: #0f0f0f;
    border: none;
    padding: 7px 12px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    font-family: Roboto, Arial;
    transition: background-color 0.2s;
    font-weight: 600;
}

.tag.active {
  background-color: #0f0f0f; 
  color: #e5e5e5;
}

.hidden {
    display: none !important;
}